.card {
    width: 100%;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1rem auto;
    padding: 1rem;
    animation-duration: 0.5s;
    transform:scale(0.98);
  }

  .card:hover{
    transition: all 1s ease;
    
    transform: scale(1);
  }

  .lista-noticias {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
  }