<!-- <nav>

    <a >Inicio</a> |
    <a  >Ubicacion actual</a> 
   
</nav> -->
<header>
<nav class=" navbar-expand-lg  navbar navbar-dark bg-primary" style="border-bottom: 3px solid black;">
    <img src="../../assets/weather-icon-png-11063.png" width="5%" height="5%" class="m-0 p-0">

  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="['primer']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="['actual']" routerLinkActive="active">Ubicacion actual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="['tiempociudad']" routerLinkActive="active">Tiempo por Ciudad</a>
        </li>
      </ul>
      
    </div>
  </nav>

</header>